.panda-card {
    border: 0;
}

.panda-card-footer {
    background-color: white;
    border: 0ch;
}

.cate img {
    width: 100px;
    border-radius: 5px;
}

.panda-slide .carousel-item {
    background-color: #fceae8;
    padding: 50px;
    border-radius: 1em;
}

.part-3 {
    border-radius: 3em;
}